.table-container{
    padding: 7% 15%;
  }

.analytics-container{
    padding: 7% 10%;
  }

  .navbar-brand{
    font-size: 1.5rem;
    font-weight: bold;
    padding-top: 1.25%;
    padding-left: 3%;
    padding-bottom: 1.25%;
  }
  
.navbar-content{
    font-size: 1.25rem;
    padding-top: 1.25%;
    padding-right: 3%;
    padding-bottom: 1.25%;
  }
  